#reserveContainer {
  border: 1px solid #dcd6d6;
}

#title {
  padding-bottom: 10px;
	border-bottom: 1px solid #dcd6d6;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.opts {
  width: 95%;
  background: rgba(0,0,0,0);
  color: solid black;
  border-bottom: 1px solid #dcd6d6;
  -webkit-appearance: none;
}

#partySize {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcd6d6;
}

#partyD #arrowptsize #for{
  display: inline-block;
}
#calendar {
  position: relative;
  top: 3px;
  width: 100%;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcd6d6
}
#dateCol {
  padding-right: 5px;
}
#timeSelect {
  position: relative;
  top: -20px;
  border: none;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  width: 100%;
  background: rgba(0,0,0,0);
  -webkit-appearance: none;
  outline: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcd6d6;
}

#time {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
}

#partyD {
  border-bottom: 1px solid #dcd6d6;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

#for {
  position: relative;
  top: 20px;
  left: -15px;
  pointer-events: none;
}

#arrowptsize {
  position: relative;
  left: 95%;
  top: 23px;
  pointer-events: none;
}

#partyTitle {
  margin-left: 0px;
}

#dateTitle{ 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.date { 
  padding-left: 0px;
  padding-right: 0px;
}
.time {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#timeTitle {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#PartySize {
  Border: none;
  margin-left: 10px;
  outline: none;
  width: 100%;
}

.buttStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

#findButt {
  width: 288px;
  height: 48px;
  background-color: #da3743;
  border-radius: 0;
}

#findButt:hover {
  background: #b7222d;
}
#timeButt {
  background-color: #da3743;
  border-radius: 0;
  margin-right: 8px;
  margin-top: 8px;
}

#timeButt:hover {
  background: #b7222d;
}

#slots {
  padding-top: 10px; 
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
}
#time {
  padding-left: 0px;
  top: 2px;
}
#timeSelect {
  display: inline-block;
  border-radius: 0px;
}
#timeArrow {
  display: inline-block;
  position: relative;
  left: 90%;
  pointer-events: none;
}
#jumbotron {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px;
  width: 100%; 
}

#warning {
  padding-left: 10px;
  padding-right: 10px;
}
#circle {
  padding-left: 0px;
  padding-right: 0px;
}
#circle {
  display: inline-block;
}     
#warn {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}
.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 0px;
  padding-left: 0px;
}

#dateTimeContain {
  padding-left: 0px;
  padding-right: 0px;
}

#bookedToday {
  font-weight: bold;
  text-align: center;
}